body {
  background-image: url('../img/duck.jpg');
}

header nav.navbar-fixed-top, div.container.panel {
  background: rgba(255, 255, 255, 0.75);
}

body {
  padding-top: 70px;
}

.welcome-text {
  color: white;
}
