body {
  padding-top: 70px;
}

.profile-buttons {
  margin-bottom: 30px;
}

.user-info .thumbnail {
  margin-bottom: 10px;
}

.msg-feed .table tr {
  height: 66px;
}

.msg-feed .table td {
  vertical-align: middle;
}
