body {
  padding-top: 70px;
}

.profile-buttons {
  margin-bottom: 30px;
}

.user-info .thumbnail {
  margin-bottom: 10px;
}

.list table tr.row {
  height: 66px;
}

.list table .row td {
  vertical-align: middle;
}

.empty-result i {
  font-size: 7em;
}

.profile-title h2 {
  line-height: 1.0;
}

.profile-title h2.fullname {
  margin-bottom: 0;
}

.profile-title h2.username {
  margin-top: 0;
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 25px;
}

.error {
  border-color: red;
}

.messages, .msg {
  display: none;
}
